<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#/">
        <img src="assets/images/certifiq.png" alt="Certifiq"/>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <!-- <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#/">Certificados</a></li>
        <li><a ng-href="#">Pessoas</a></li>
      </ul> -->

      <ul class="nav navbar-nav pull-right">
        <li ng-if="!navbar.logged && navbar.currentState !== 'login' && navbar.currentState !== 'confirm'">
          <a class="btn btn-link" href="#/home#testar">Testar</a>
        </li>
        <!--<li ng-if="!navbar.logged && navbar.currentState !== 'login' && navbar.currentState !== 'confirm'">-->
          <!--<button class="btn btn-link">Conheça</button>-->
        <!--</li>-->
        <!--<li ng-if="!navbar.logged && navbar.currentState !== 'login' && navbar.currentState !== 'confirm'">-->
          <!--<button class="btn btn-link">Funcionalidades</button>-->
        <!--</li>-->
        <li ng-if="!navbar.logged && navbar.currentState !== 'login' && navbar.currentState !== 'confirm'">
          <a class="btn btn-link" href="#/home#planos">Planos & Preços</a>
        </li>
        <li ng-if="!navbar.logged && navbar.currentState !== 'login' && navbar.currentState !== 'confirm'">
          <a class="btn btn-link" href="#/home#clientes">Clientes</a>
        </li>
        <li ng-if="navbar.currentState !== 'login' && navbar.currentState !== 'confirm'">
          <a class="btn btn-link" href="mailto:contato@certifiq.com.br">Dúvidas?</a>
        </li>
        <li ng-if="!navbar.logged && navbar.currentState !== 'login' && navbar.currentState !== 'confirm'">
          <button ui-sref="login" class="btn btn-success">Entrar</button>
        </li>
        <li ng-if="navbar.logged">
          <button ui-sref="layouter" class="btn btn-success">Criar Certificado</button>
        </li>
        <li ng-if="navbar.logged" class="btn-group" dropdown>
          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
            {{navbar.Session.user.pessoa.nome}} <span class="fa fa-caret-down"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <!--<li><a href="#">Perfil</a></li>
            <li><a href="#">Pagamentos</a></li>
            <li><a href="#">Centro de ajuda</a></li>
            <li class="divider"></li>-->
            <li><a ng-click="navbar.logout()">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
