<div class="draggable" style="{{item.position}}" ng-class="{'hover': onHover}">
  <script type="text/ng-template" id="myPopoverTemplate.html">
      <select ng-model="selectedVariavel" ng-change="ui.variavel(selectedVariavel)">
        <option ng-value="variavel" ng-repeat="variavel in variaveis">{{::variavel}}</option>
      </select>
      <div class="form-group">
        <label for="novaVariavel">Nova variável</label>
        <input type="text" id="novaVariavel" ng-model="novaVariavel" class="form-control">
      </div>
      <button class="btn btn-primary" ng-click="ui.novaVariavel(novaVariavel); novaVariavel = ''">Criar</button>
  </script>
  <div class="draggableHandle">
    <i class="fa fa-arrows"></i>
  </div>
  <div class="draggableToolbar" ng-if="!item.imagem">
    <a ng-click="ui.left()"><i class="fa fa-align-left"></i></a>
    <a ng-click="ui.center()"><i class="fa fa-align-center"></i></a>
    <a ng-click="ui.right()"><i class="fa fa-align-right"></i></a>
    <input type="color" ng-model="selectedCor" value="#000000" ng-click="onHover = true;" ng-change="ui.corTexto(selectedCor)"/>
    <select ng-options="size as size.name for size in sizes"
            ng-model="selectedSize"
            ng-change="ui.size(selectedSize.size)"></select>
    <button popover-placement="right"
            popover-template="popover.template"
            popover-title="Adicionar variável"
            ng-click="onHover = true;"
            class="btn btn-info btn-xs">Variáveis</button>
    <button class="btn btn-danger btn-xs" ng-click="ui.removerFragmento()"><i class="fa fa-trash"></i></button>
  </div>
  <div class="draggableToolbar" ng-if="item.imagem">
    <button class="btn btn-danger btn-xs" ng-click="ui.removerFragmento()"><i class="fa fa-trash"></i></button>
  </div>
  <div ng-if="!item.imagem"
       class="draggableContent"
       contenteditable
       name="myWidget"
       strip-br="true"
       style="{{item.style}}"
       ng-model="content">{{item.texto}}</div>
  <img ng-if="item.imagem"
       class="draggableContent img-responsive"
       style="{{item.style}}"
       ng-model="content" ng-src="{{item.imagem}}"/>
</div>
