<div id="layouter">
  <div flow-init
       flow-name="obj.flow"
       flow-file-added="setBackground($file)">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div>
            <input type="button" class="btn btn-default" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}" value="Adcionar imagem de fundo">
            <input type="button" class="btn btn-default" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}" value="Alterar imagem de fundo">
            <input type="button" class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()" value="Remover imagem de fundo">
            <input type="button" class="btn btn-default" ng-click="ui.adicionarFragmento()" value="Adicionar Texto">
          </div>
        </div>
      </div>
    </div>
    <div class="pagina" style="background-image: {{background}}">
      <div class="moldura">
        <div class="ctn">
          <draggable-item ng-repeat="fragmento in fragmentos track by $index" item="fragmento" variaveis="variaveis" atualiza-content="atualizaContent()"></draggable-item>
        </div>
      </div>
    </div>
  </div>
</div>