<div class="container">

  <h1>
    Entrar
  </h1>
  <hr>
  <div class="row login">
    <div class="col-sm-6">
      <h2>Login</h2>
      <form role="form" ng-submit="login.auth(login.credentials)" >
        <div class="form-group">
          <input type="text" class="form-control" required ng-model="login.credentials.username" placeholder="Nome de usuário">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" required ng-model="login.credentials.password" placeholder="Senha">
        </div>
        <button type="submit" class="btn btn btn-primary btn-block">
          Entrar
        </button>
      </form>
      <!--<a href="#">Esqueceu sua senha?</a>-->

      <!--<div class="login-or">-->
        <!--<hr class="hr-or">-->
        <!--<span class="span-or">ou</span>-->
      <!--</div>-->

      <!--<div class="row">-->
        <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
          <!--<a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
          <!--<a href="#" class="btn btn-lg btn-info btn-block">Google</a>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div class="col-sm-6">
      <h2>Cadastrar</h2>
      <form role="form" ng-submit="login.cadastro(login.novo)" >
        <div class="form-group">
          <input type="text" class="form-control" ng-model="login.novo.nome" required placeholder="Nome">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" ng-model="login.novo.email" required placeholder="E-mail">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="login.novo.username" required placeholder="Nome de usuário">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" ng-model="login.novo.password" required placeholder="Senha">
        </div>
        <button type="submit" class="btn btn btn-primary btn-block">
          Cadastrar
        </button>
      </form>
    </div>
  </div>

</div>
