<div class="container">

  <h1>Certificados</h1>

  <div class="row search-bar" ng-if="home.certificados.length > 5">
    <div class="col-sm-offset-6 col-sm-6">
      <div class="input-group">
        <input type="text" class="form-control" name="filtroCertificado" ng-model="filtroCertificado" placeholder="Buscar certificado" autofocus />
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>
  </div>

  <table class="table table-striped table-certificados" ng-if="home.certificados.length">
    <thead>
    <tr>
      <th>Data de criação</th>
      <th>Certificado</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="certificado in home.certificados | filter:filtroCertificado | orderBy:'id':true track by $index">
      <td>{{certificado.create_date}}</td>
      <td><a ng-href="#/certificado/{{certificado.id}}">{{certificado.nome}}</a></td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <h3 ng-if="!home.certificados">Nenhum certificado encontrado.</h3>

</div>
